name: CI - Build and Push Image

on:
  push:
    branches:
      - master

permissions:
  contents: write
  packages: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set image tag
        run: echo "IMAGE_TAG=${GITHUB_SHA}" >> $GITHUB_ENV

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          docker build \
            -t ghcr.io/lillotus2801/hello-world-nginx:${IMAGE_TAG} .

      - name: Push Docker image
        run: |
          docker push ghcr.io/lillotus2801/hello-world-nginx:${IMAGE_TAG}

      - name: Update deployment image tag
        run: |
          sed -i "s|image: .*|image: ghcr.io/lillotus2801/hello-world-nginx:${IMAGE_TAG}|" deployment.yaml

      - name: Commit updated deployment.yaml
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git add deployment.yaml
          git commit -m "ci: update image tag to ${IMAGE_TAG}"
          git push
